In [31]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [2]:
%%time
df = pd.read_csv('termDocMatrix.csv')
df

Wall time: 20.1 s

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.13536,0.13537,0.13538,0.13539,0.13540,0.13541,0.13542,0.13543,0.13544,Unnamed: 13598
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [3]:
df =df.iloc[:, :-1]
DOCUMENTS = df.iloc[:6003,:]
QUERIES = df.iloc[6003:,:]
matrixDocs = DOCUMENTS.to_numpy().T
matrixQue = QUERIES.to_numpy().T

In [4]:
matrixDocs

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [5]:
matrixQue

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
print(matrixDocs.shape)
print(matrixQue.shape)

(13598, 6003)
(13598, 35)

In [7]:
%%time
U, S, V = np.linalg.svd(matrixDocs)

Wall time: 2min 11s

In [8]:
print(U.shape)
print(S.shape)
print(V.shape)
S = np.diag(S)
print(S.shape)

(13598, 13598)
(6003,)
(6003, 6003)
(6003, 6003)

In [9]:
K = 50
U_k = U[:,:K]
S_k = S[:K,:K]
V_k = V[:K,:]

In [10]:
A_k = U_k.dot(S_k).dot(V_k)

In [11]:
A_k.shape

(13598, 6003)

In [62]:
def cosine_sim(a,b):
    return np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))

In [71]:
%%time

r = 5

with open('RESULTS2.test','w') as file:
    for i in range(matrixQue.shape[1]):
        q_t = matrixQue[:,i:i+1].T
        q_k_t = q_t.dot(U_k).dot(S_k)
        similarities = [1-distance.cosine(q_k_t,doc) for doc in V_k.T ]
        similarities = np.array(similarities)
        print(similarities.shape)
        sorted_indexes = similarities.argsort()[::-1]
        
        
        for index in sorted_indexes[:r]:
        
            text = str(str(i+1)+ '\t'+str(0)+'\t'+ str(index+1)+'\t'+str(0)+'\t'+str(round(similarities[index],3))+'\t'+'method1\n')
            file.write(text)

(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
(6003,)
Wall time: 9.85 s