In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance

In [2]:
%%time
df = pd.read_csv('termDocMatrix.csv', header=None)
df

Wall time: 15.1 s

,0,1,2,3,4,5,6,7,8,9,...,11876,11877,11878,11879,11880,11881,11882,11883,11884,11885
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6035,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6036,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6037,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [3]:
df = df.iloc[:, :-1]
DOCUMENTS = df.iloc[:6004,:]
QUERIES = df.iloc[6004:,:]
matrixDocs = DOCUMENTS.to_numpy().T
matrixQue = QUERIES.to_numpy().T

In [4]:
matrixDocs

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [5]:
matrixQue

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [6]:
print(matrixDocs.shape)
print(matrixQue.shape)

(11885, 6004)
(11885, 35)

In [7]:
%%time
U, S, V = np.linalg.svd(matrixDocs)

Wall time: 1min 59s

In [8]:
print(U.shape)
print(S.shape)
print(V.shape)
S = np.diag(S)
print(S.shape)

(11885, 11885)
(6004,)
(6004, 6004)
(6004, 6004)

In [9]:
K = 50
U_k = U[:,:K]
S_k = S[:K,:K]
V_k = V[:K,:]

In [10]:
A_k = U_k.dot(S_k).dot(V_k)

In [11]:
A_k.shape

(11885, 6004)

In [12]:
def cosine_sim(a,b):
    return np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))

In [13]:
%%time

r = 20

with open('RESULTS2.test','w') as file:
    for i in range(matrixQue.shape[1]):
        if( i% 5 == 0):
            print(i)
        q_t = matrixQue[:,i:i+1].T
        similarities = cosine_sim(q_t,A_k)
        
        
#         q_k_t = q_t.dot(U_k).dot(S_k)
#         similarities = [cosine_sim(q_k_t,doc) for doc in V_k.T]
        similarities = np.array(similarities).flatten()
        sorted_indexes = similarities.argsort()[::-1]
        
        for index in sorted_indexes[:r]:
            text = str(str(i+1)+ '\t'+str(0)+'\t'+ str(index+1)+'\t'+str(0)+'\t'+str(similarities[index])+'\t'+'method1\n')
            file.write(text)

0
5
10
15
20
25
30
Wall time: 1.71 s